USE [master]
GO
/****** Object:  Database [QLTC]    Script Date: 2/6/2023 4:14:23 PM ******/
CREATE DATABASE [QLTC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLTC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLTC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTC]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 2/6/2023 4:14:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tai_khoan] PRIMARY KEY CLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thong_tin_chi]    Script Date: 2/6/2023 4:14:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thong_tin_chi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[giangVien] [nvarchar](55) NULL,
	[nhanVienChi] [nvarchar](55) NULL,
	[gioiTinh] [nvarchar](55) NULL,
	[soTien] [bigint] NULL,
	[monGiangDay] [nvarchar](55) NULL,
	[ngayChi] [date] NULL,
	[soDienThoai] [nvarchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thong_tin_thu]    Script Date: 2/6/2023 4:14:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thong_tin_thu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[giangVienThu] [nvarchar](55) NULL,
	[tenHocVien] [nvarchar](55) NULL,
	[gioiTinh] [nvarchar](55) NULL,
	[ngaySinh] [date] NULL,
	[monHoc] [nvarchar](55) NULL,
	[ngayThu] [date] NULL,
	[diaChi] [nvarchar](55) NULL,
	[soTien] [bigint] NULL,
	[soDienThoai] [nvarchar](55) NULL,
	[trangThai] [nvarchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
